{
    "extends": [
     "plugin:prettier/recommended", "wesbos"
    ],
    "plugins": ["prettier", "html"],
    "rules": {
      "prettier/prettier": "error"
    },
      "parserOptions": {
        "ecmaVersion": 2017
     },
      "env": {
         "es6": true
      },
          "parser": "babel-eslint"
  
  }